{% extends "::base.html.twig" %}

{% block body %}

    <form method="GET" action="{{ path("story_priority_index") }}">
        <div class="hero-unit">
            {{ form_widget(form) }}
            <input type="submit" value="Search" class="btn btn-info" />
        </div>
    </form>

    {% if results is not null %}
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th class="">Id</th>
                <th class="">Rank</th>
                <th class="">User</th>
                <th class="">Status</th>
                <th class="">Title</th>
                <th class="">Milestone</th>
                <th class="">Due date</th>
            </tr>
        </thead>
        <tbody class="sortable" id="sortableList">
        {% for story in results %}
            <tr data-story-id="{{ story.id }}">
                <td>#{{ story.id }}</td>
                <td>
                    {% for storyMilestone in story.storyMilestones %}
                        {% if storyMilestone.milestone.id == milestoneId %}
                            {{ storyMilestone.rank }}
                            {% if storyMilestone.prioritized %}<i class="icon-hand-left" title="This story was manually prioritized"></i>{% endif %}
                        {% endif %}
                    {% endfor %}
                    <a href="#" class="toReveal"><i class="icon-arrow-up"></i></a>
                </td>
                <td><strong>{{ story.ownerUser }}</strong></td>
                <td><span class="label pull-right">{{ story.readableStatus }}</span></td>
                <td><strong>{{ story.title }}</strong></td>
                <td>
                    <ul>
                    {% for storyMilestone in story.storyMilestones %}
                        {% if storyMilestone.milestone.id != milestoneId %}
                            <li>{{ storyMilestone.rank }} - {{ storyMilestone.milestone }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </td>
                <td><strong>{{ story.dueDate|date('d-m-Y') }}</strong></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}

    {% if results is not null %}
    <script>
        $(function () {

            var fixHelper = function (e, ui) {
                ui.children().each(function () {
                    $(this).width($(this).width());
                });
                return ui;
            };

            $(".sortable").sortable({
                helper: fixHelper,
                revert: true,
                update: function (event, ui) {
                    var position = ui.item.index();
                    var id = $(this).find('tr').attr('data-story-id');
                    var orderRoute = "{{ path('reorder_story', { 'id' : milestoneId}) }}";

                    $.get(orderRoute, {
                        'storyId': id,
                        'position': position
                    });
                }
            }).disableSelection();

            // show/hide the shortcut for moving an element to top
            $("tr").not(':first').hover(function () {
                $(this).find('.toReveal').show();
            }, function () {
                $(this).find('.toReveal').hide();
            });

            // shortcut move to top
            $('.toReveal').on('click', function () {
                $(this).closest('tr').prependTo($('#sortableList'));

                var id = $(this).closest('tr').attr('data-story-id');
                var orderRoute = "{{ path('reorder_story', { 'id' : milestoneId}) }}";

                $.get(orderRoute, {
                    'storyId': id,
                    'position': 0
                });
            });
        });
    </script>
    {% endif %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}
