{% extends "::base.html.twig" %}

{% block body %}

    <form method="GET" action="{{ path("story_priority_index") }}">
        <div class="hero-unit">
            {{ form_widget(form) }}
            <input type="submit" value="Search" class="btn btn-info" />
        </div>
    </form>

    <!-- results -->
    {{ include('M6SixBoardBundle:Story:story_tab.html.twig', {'results': results, 'milestoneId': milestoneId, 'unique_milestone': unique_milestone, 'showRank': true}) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}

    {% if results is not null %}
    <script>
        $(function () {

            var fixHelper = function (e, ui) {
                ui.children().each(function () {
                    $(this).width($(this).width());
                });
                return ui;
            };

            $(".sortable").sortable({
                helper: fixHelper,
                revert: true,
                update: function (event, ui) {
                    var position = ui.item.index();
                    var id = ui.item.attr('data-story-id');
                    var orderRoute = "{{ path('reorder_story', { 'id' : milestoneId}) }}";
                    var milestoneId = "{{ milestoneId }}";

                    $.get(orderRoute,
                        {
                        'storyId': id,
                        'position': position
                        },
                        function (data) {
                            $('#prio-'+id+'-'+milestoneId).show();
                        }
                    );
                    //
                }
            }).disableSelection();

            // show/hide the shortcut for moving an element to top
            $("tr").not(':first').hover(function () {
                $(this).find('.toReveal').show();
            }, function () {
                $(this).find('.toReveal').hide();
            });

            // shortcut move to top
            $('.toReveal').on('click', function () {
                $(this).closest('tr').prependTo($('#sortableList'));

                var id = $(this).closest('tr').attr('data-story-id');
                var orderRoute = "{{ path('reorder_story', { 'id' : milestoneId}) }}";
                var milestoneId = "{{ milestoneId }}";
                $.get(orderRoute, {
                    'storyId': id,
                    'position': 0
                },
                function (data) {
                    $('#prio-'+id+'-'+milestoneId).show();
                }
                );
            });
        });
    </script>
    {% endif %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}
