{% extends "::base.html.twig" %}

{% block body %}

  <div class="hero-unit">
    <form method="GET" action="{{ path("homepage") }}">
        {% include "M6SixBoardBundle:Form:form.html.twig" %}
    </form>
    <form action="{{ path('save_filters') }}" method="post" {{ form_enctype(save_search_form) }}>
      <fieldset>
          <legend>Save the current research:</legend>
          {{ form_widget(save_search_form) }}
        <button type="submit" class="btn">Save search</button>
      </fieldset>
    </form>
  </div>

      <!-- Example row of columns -->
      <div class="row">
        <table class="table table-condensed">
        <tr>
          {# sorting of properties based on query components #}
              <th>Id</th>
              <th>Status</th>
              <th>Title</th>
              <th>Milestone</th>
              <th>Type</th>
              <th>Reported by</th>
              <th>Assigned to</th>
          </tr>

          {% for story in pagination %}
          <tr {% if loop.index is odd %}class="color"{% endif %}>
              <td>{{ story.id }}</td>
              <td>{% if story.type %}<span class="label label-info">{{ story.getReadableStatus }}</span>{% endif %}</td>
              <td><a href="{{ path("show_story", { id: story.id }) }}">{{ story.title }}</a></td>
              <td>
                {% for storyMilestone in story.storyMilestones %}
                    {{ storyMilestone.milestone }}
                {% endfor %}
              </td>
              <td>{% if story.type %}<span class="label label-info">{{ story.getReadableTypes }}</span>{% endif %}</td>
              <td>{{ story.ownerUser }}</td>
              <td>{{ story.devUser }}</td>
          </tr>
          {% endfor %}
          </table>

          <div class="navigation">
              {{ knp_pagination_render(pagination) }}
          </div>
      </div>
    <hr>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}
