{% extends "::base.html.twig" %}

{% block body %}

    <div class="row-fluid">
      <div class="span3">
        <div class="hero-unit">
          <fieldset>
                <legend>Filter stories</legend>
          </fieldset>
          <form method="GET" action="{{ path("homepage") }}">
              {% include "M6SixBoardBundle:Form:form.html.twig" %}
          </form>

          <form action="{{ path('save_filters') }}" method="post" {{ form_enctype(save_search_form) }}>
            <fieldset>
                <legend>Save the current research:</legend>
                {{ form_widget(save_search_form) }}
              <button type="submit" class="btn">Save search</button>
            </fieldset>
          </form>
        </div>
      </div>


      <!-- story tables -->
      <!-- Example row of columns -->
      <div class="span9">
          {{ include('M6SixBoardBundle:Story:story_tab.html.twig', {'results': pagination, 'milestoneId': milestoneId, 'unique_milestone': unique_milestone, 'showRank': false}) }}

          <div class="navigation">
              {{ knp_pagination_render(pagination) }}
          </div>
      </div>
      <!-- end of table -->
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}
