{% if story.notes|length > 0 %}
  <h3 class="page-header">Notes on this story:</h3>

  {% for note in story.notes %}
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://placekitten.com/g/64/64">
        </a>
        <div class="media-body">
          <h4 class="media-heading">#{{ note.id }} by {{ note.user }} {{ note.createdAt|date('d-m-Y h:i') }}</h4>
          {% autoescape false %}{{ note.note|markdown }}{% endautoescape %}
        </div>
      </div>
  {% endfor %}
{% endif %}

<form action="{{ path('note_create', {id: story.id}) }}" method="post" {{ form_enctype(form) }}>
    <h3 class="page-header">Add a note to this story:</h3>
    {{ form_widget(form) }}
    <p class="mutted">You can use the markdown syntax</a></p>
    <button type="submit" class="btn btn-primary">Send</button>
</form>