{% extends "::base.html.twig" %}

{% block body %}
     <div class="container">
        <div class="well">
            <p><span class="label">{{ story.readableStatus }}</span></p>
            <h1>#{{ story.id }} {{ story.title}}</h1>
            <p>{{ story.description }}</p>
            <p>type : {{ story.getReadableTypes }}
            </p>
            <p>status : {{ story.getReadableStatus }}</p>
            <a href="{{ path('story_edit', { 'id' : story.id }) }}" class="btn btn-info">Edit</a>
        </div>

        {{ render(controller('M6SixBoardBundle:Note:storyNotes', { 'id': story.id })) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# form_javascript(form) #}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {# form_stylesheet(form) #}
{% endblock %}
